@import '../../../config/theme.less';

.orderFinish{
  .icon-success1{
    color:@theme-color;
  }
  .default{
    color:@theme-color;
  }
}

.orderDetail{
  .weui_cells{
    background-color:#fbf9fe;
  }
}