img{
  max-width:100%;
}
.fertilizerIndex{
    background: #fff;
    *{
      box-sizing: border-box;
    }
  .footer{
    padding:.25rem;
  }
}
.fertilizerWait{
  .weui_select{
    direction: rtl;
  }
  .weui_input{
    direction: rtl;
  }
}
.fertilizerInfo{
  .weui_select{
    direction: rtl;
  }
   .weui_input{
    direction: rtl;
  }
}