img{
  max-width:100%;
}
.fertilizerIndex{
  height:100%;
    background: #fff;
    *{
      box-sizing: border-box;
    }
  .footer{
    margin-top:2rem;
    padding:.25rem;
  }
}
.fertilizerWait{
  .weui_select{
    direction: rtl;
  }
  .weui_input{
    direction: rtl;
  }
}
.fertilizerInfo{
  .weui_select{
    direction: rtl;
  }
   .weui_input{
    direction: rtl;
  }
}