/*此文件用来覆盖VUX全局的CSS*/
@import '../libs/fonts/iconfont.css';
img{
  max-width:100%;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #fbf9fe;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
a{
  color:#FF520D
}
.ellipsis {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.weui_toast_text{
  top:85% !important;
  font-size:.75rem;
}
.weui_btn_primary:not(.weui_btn_disabled):active{
  background-color:lighten(#FF520D,20%) !important;
  border-color:lighten(#FF520D,20%) ;
  color:#fff;
}
.weui_btn_disabled{
  background-color: #ccc !important;
  color:#fff !important;
}


