/*此文件用来覆盖VUX全局的CSS*/
img{
  max-width:100%;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #fbf9fe;
  overflow-x: hidden;
}
.weui_toast_text{
  top:85% !important;
  font-size:.75rem;
}
.weui_tab_bd{
  padding-bottom:0px !important;
}