.recordHistory{
  section {
    font-size: inherit;
    text-align: center;
    h3 {
      font-size: 26/40em;
      padding: .2rem .5rem;
      background: rgba(0, 0, 0, .6);
      display: inline-block;
      color: #fff;
      margin: 1rem 0 .5rem;
      border-radius: 7px;
    }
    article {
      font-size: 28/40em;
      width: 90%;
      padding: 15px;
      background: #fff;
      margin: 0 auto;
      box-sizing: border-box;
      text-align: left;
      border-radius: 7px;
    }
  }
}

.recordDetail{

}